@model MoveDocumentModalViewModel

@{ Layout = null; }

<p>Click on the page you want to move '<strong>@Model.Title</strong>' to:</p>
<div class="site-contents">
    <ul>@CreateSiteMapItemHtml(Model.Root, currentDocumentId: Model.ID, showPrivate: User.Identity.IsAuthenticated)</ul>
</div>
