@model microwiki.Models.BreadcrumbViewModel

@{
    Layout = null;
}

<ol class="breadcrumb">
    @foreach (var link in Model.Links)
    {
        if (link.Item2 == Request.Url.AbsolutePath)
        {
            <li class="active">@link.Item1</li>
        }
        else
        {
            <li><a href="@link.Item2">@link.Item1</a></li>
        }
    }
</ol>