@model ContentsViewModel

@section title {
    <title>Contents</title>
}

@{ await Html.RenderPartialAsync("_BreadcrumbTrail", Model.BreadcrumbTrailData); }

<div class="row">
    <div class="col">
        <h1>Contents</h1>
        <div class="site-contents">
            <ul>@CreateSiteMapItemHtml(Model.Root)</ul>
        </div>
    </div>
</div>
