@section title {
    <title>Editor Test Harness</title>
}

@section css {
    <link rel="stylesheet" href="~/css/codemirror/codemirror.css" />
    <link rel="stylesheet" href="~/css/codemirror/theme/microwiki.css" />
}

<div class="row">
    <div class="col">
        <h1>Editor Test Harness</h1>
        <form asp-controller="Wiki" asp-action="EditorTestHarness" method="post">
            <a class="btn btn-sm cm-format-button" href="#">Bold</a>

            <div class="form-group">
                <label for="Body">Body Text</label> 
                <textarea name="Body" id="Body" class="form-control" rows="10">## Prerequisite: setting up a development site to deliver email locally

When testing service emails (order confirmations, dispatch notifications, password reset emails etc.) locally, it's often much easier and more reliable to set the development site to send them to a local pickup directory (rather than actually sending them through our email server).

Set the `system.net` section of your `Web.config` file up as follows:

```xml
<system.net>
    <mailSettings>
        <smtp deliveryMethod="SpecifiedPickupDirectory">
            <network host="ignored" />
            <specifiedPickupDirectory pickupDirectoryLocation="E:\Temp\Mail" />
        </smtp>
    </mailSettings>
</system.net>
```

This should save any emails your local site/app would send as `.eml` files into the specified `pickupDirectoryLocation`.

## EmlView

You can set up [**EmlView**][1] on your development PC, which will monitor the pickup directory for changes and allow you to see HTML previews of all the service emails (including images etc).

EmlView is just a simple web app, so you can [clone it][2] to your web root folder, set it up like any other site under IIS and point a local DNS name (e.g. `mailviewer.yourcomputer.com`) at it. 

You'll also need to set up a virtual directory (right-click the site you've just set up and click **Add Virtual Directory...**) called `attachments`, pointing to the `pickupDirectoryLocation` you use on your local machine.

Once you've done that, make a copy of the `Web.config.example` file and rename it to `Web.config`, then edit the `EmailPickupFolder` value to match your `pickupDirectoryLocation`. Build the `EmlView.sln` solution, then open the site in a web browser.

EmlView will monitor your pickup folder for new `.eml` files and refresh every three seconds while it is open. Once you have triggered the sending of some emails and they appear in the list, click the subject line of an email to view an HTML preview.

  [1]: http://git1.office.webselect.net:7990/projects/EML/repos/emlview/browse
  [2]: http://git1.office.webselect.net:7990/projects/EML/repos/emlview/browse</textarea>
            </div>

            <div class="form-group form-group-submit">
                <button type="submit" class="@SaveButtonClasses"><i class="fa fa-floppy-o"></i> Save Page</button>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script src="~/js/dist/editor-test-harness.js" asp-append-version="true"></script>
}
