@model EditorTestHarnessViewModel

@section title {
    <title>Editor Test Harness</title>
}

@section css {
    <link rel="stylesheet" href="~/css/codemirror/codemirror.css" />
    <link rel="stylesheet" href="~/css/codemirror/theme/microwiki.css" />
}

<div class="row">
    <div class="col">
        <br />
        <editor asp-for="Body" />
    </div>
</div>

@section modals {
    @{ await Html.RenderPartialAsync("_EditorLinkDialog"); }
    @{ await Html.RenderPartialAsync("_EditorCodeBlockDialog"); }
}

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.js" integrity="sha256-rP/7cD6sF9Rey5N+nwEgClCdovR+NIuUxWMkyqak9vU=" crossorigin="anonymous"></script>
    <script src="~/js/dist/edit.js" asp-append-version="true"></script>
}
