@model EditorTestHarnessViewModel

@section title {
    <title>Editor Test Harness</title>
}

@section css {
    <link rel="stylesheet" href="~/css/dist/codemirror/codemirror.min.css" />
    <link rel="stylesheet" href="~/css/dist/codemirror/theme/microwiki.min.css" />
}

<div class="row">
    <div class="col">
        <br />
        <editor asp-for="Body" />
    </div>
</div>

@section modals {
    @{ await Html.RenderPartialAsync("_EditorCodeBlockDialog"); }
    @{ await Html.RenderPartialAsync("_EditorLinkDialog"); }
    @{ await Html.RenderPartialAsync("_EditorImageDialog"); }
}

@section scripts {
    <script src="~/js/dist/edit.min.js" asp-append-version="true"></script>
}
