@model microwiki.Models.DocumentSearchViewModel

@{
    ViewBag.Title = "Search Results For '" + @Model.Query + "'";
}

<div class="row">

    <div class="col-md-12">
        <h1>Search Results For '@Model.Query'</h1>
        
        @foreach(var result in Model.Results)
        {
            <h2><a href="@result.Location">@result.Title</a></h2>
            
        }

    </div>

</div>

