@model UpdateViewModel

@section title {
    <title>Update @Model.Title</title>
}

@{
    await Html.RenderPartialAsync("_BreadcrumbTrail", Model.BreadcrumbTrailData); 
}

<div class="row">
    <div class="col-sm-10">
        <h1>Update Page</h1>
        <form asp-controller="Wiki" asp-action="Update" method="post">
            <div class="form-group">
                <label asp-for="Title">Page Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tags">Tags</label>
                <input asp-for="Tags" class="form-control tag-input" />
                <span asp-validation-for="Tags"></span>
            </div>

            @if (Model.IsRootDocument)
            {
                <input asp-for="Slug" type="hidden" />
            }
            else
            {
                <div class="form-group">
                    <label asp-for="Slug">Url Slug</label>
                    <input asp-for="Slug" class="form-control" />
                    <span asp-validation-for="Slug"></span>
                    <small class="form-text text-muted">If blank, this will be regenerated automatically from the title.</small>
                </div>
            }

            <div class="form-group">
                <label asp-for="Body">Body Text </label> 
                <textarea asp-for="Body" class="form-control" rows="5"></textarea>
            </div>

            <div class="checkbox">
                <label>
                    <input asp-for="IsTableOfContents" /> Table Of Contents (show large list of child page links at bottom of main content area)
                </label>
            </div>

            <input asp-for="ID" type="hidden" />
            <input asp-for="IsRootDocument" type="hidden" />
            <input asp-for="ParentID" type="hidden" />

            <div class="form-group form-group-submit">
                <button type="submit" class="@SaveButtonClasses"><i class="fa fa-floppy-o"></i> Save Page</button>
            </div>
        </form>
    </div>
    <div class="col-sm-2 col-actions">
        <p><a asp-controller="Files" asp-action="Upload" target="_blank" class="@ActionButtonClasses">Upload File</a></p>
    </div>
</div>

@section globals {

    <script>
        var _ALL_TAGS = @Html.Raw(JsonConvert.SerializeObject(Model.AllTags.Select(t => t.Label)));
    </script>

}
