@model UpdateViewModel

@section title {
    <title>Update @Model.Title</title>
}

<div class="row">
    <div class="col-md-9">
        <h1>Update @Model.Title</h1>
        <form asp-controller="Wiki" asp-action="Update" method="post">
            <div class="form-group">
                <label asp-for="Title">Page Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title"></span>
            </div>

            @if (Model.IsRootDocument)
            {
                <input asp-for="Slug" type="hidden" />
            }
            else
            {
                <div class="form-group">
                    <label asp-for="Slug">Url Slug</label>
                    <input asp-for="Slug" class="form-control" />
                    <span asp-validation-for="Slug"></span>
                    <small class="form-text text-muted">If blank, this will be regenerated automatically from the title.</small>
                </div>
            }
        
            <div class="form-group">
                <label asp-for="Body">Body Text</label>
                <textarea asp-for="Body" class="form-control"></textarea>
            </div>

            <div class="checkbox">
                <label>
                    <input asp-for="IsTableOfContents" /> Table Of Contents (show large list of child page links at bottom of main content area)
                </label>
            </div>

            <input asp-for="ID" type="hidden" />
            <input asp-for="IsRootDocument" type="hidden" />
            <input asp-for="ParentID" type="hidden" />

            <div class="form-group form-group-submit">
                <input type="submit" class="btn btn-primary" value="Save Page">
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <h1>Actions</h1>
        <p><a asp-controller="Wiki" asp-action="Upload" target="_blank" class="btn btn-secondary btn-block">Upload File</a></p>
    </div>
</div>
