@model microwiki.Models.UploadViewModel

@{
    ViewBag.Title = "Upload Image";
}

<h1>Upload Image</h1>

@using (Html.BeginForm("Upload", "Wiki", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(x => x.UploadedFile)
        <input type="file" name="UploadedFile">
    </div>

    <div class="form-group form-group-submit">
        <input type="submit" class="btn btn-primary" value="Upload Image">
    </div>
}

@if (Model.UploadedFileName != null)
{
    <p>Uploaded File Name: <strong>@Request.Url.GetLeftPart(UriPartial.Authority)@Model.UploadedFileName</strong></p>
}

<div class="upload-thumbnails">
    @if (Model.Files != null && Model.Files.Length > 0)
    {
        foreach (var file in Model.Files)
        {
            <div class="row">
                <div class="col-md-1">
                    <a href="#" class="thumbnail">
                        <img src="~/UserContent/@Path.GetFileName(file)" />
                    </a>
                </div>
                <div class="col-md-11">
                    <strong>@Request.Url.GetLeftPart(UriPartial.Authority)/UserContent/@Path.GetFileName(file)</strong>
                </div>
            </div>
        }
    }
</div>