body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
    font-weight: bold;
}

.child-pages {
    list-style: none;
    padding-left: 5px;
}

.child-pages .glyphicon {
    margin-right: 5px;
}

.form-group-submit {
    padding-top: 15px;
}

pre.prettyprint {
    padding: 20px;
}

pre.lang-none {
    padding: 20px;
}

.sitemap, .sitemap ul {
    list-style: none;
}

.sitemap li {
    line-height: 1.8em;
}

img {
    max-width: 100%;
}

.upload-thumbnails {
    margin-top: 40px;
}

.thumbnail.file {
    text-align: center;
    padding: 10px 0 7px 2px;
}

.thumbnail.file .glyphicon {
    font-size: 32px;
}

.breadcrumb {
    margin-bottom: 0;
}

.document-meta-data {
    margin-top: 40px;
    font-size: 11px;
    color: #797979;
}

footer {
    color: #797979;
    font-size: 11px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}