@model microwiki.Web.Models.DocumentViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section controls {

    <div id="control-bar">
        <p>
            <span id="page-title">Add/Edit Page</span>
            <span id="page-controls">
                <a href="/" class="add-link">Cancel Edit</a>
            </span>
        </p>
    </div>
}

@section content {

    <h1>New Page</h1>

    <div class="left-panel">

    @using(Html.BeginForm("Insert", "Wiki", FormMethod.Post)) {
        
        <p><input type="submit" value="Add Page" /></p>  
        
        <p>@Html.LabelFor(x => x.Location)
        root/@Html.TextBoxFor(x => x.Location)</p>
        
        <div class="wmd-panel">
            <div id="wmd-button-bar"></div>
            @Html.TextAreaFor(x => x.Body, new { id = "wmd-input", @class = "wmd-input" })
        </div>
        
    }

    </div>
    <div class="right-panel">
        <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
    </div>

}

@section footer {

}