@model microwiki.Web.Models.DocumentViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section content {

    <h1>Index</h1>

    <p>This is the index.</p>

    <h2>@Model.Title</h2>

    <p>@Model.Created.ToString("dd/MM/yyyy")</p>

    <p>@Model.LastEdited.ToString("dd/MM/yyyy")</p>

    @Html.Raw(Model.Body)

}