@import 'variables';

body {
    background-color: $main-background-color;
    padding-bottom: 60px;
}

.nav-tabs .nav-link.active {
    background-color: $main-background-color;
}

.breadcrumb-readonly {
    color: #999;
}

@media only screen and (min-width: 1300px) {
    .navbar input[type=search] {
        width: 400px;
    }
}
