@model BreadcrumbTrailViewModel

@{ Layout = null; }

<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                @foreach (var segment in Model.Segments)
                {
                    <li class="breadcrumb-item"><a href="@segment.Location">@segment.Title</a></li>
                }
            </ol>
        </nav>
    </div>
</div>
