@{ Layout = null; }

<div class="modal" tabindex="-1" role="dialog" id="editor-image-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add/Update Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-2 row">
                    <label for="image-url" class="col-sm-2 col-form-label">Url</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="image-url" name="image-url" placeholder="The image URL" value="">
                    </div>
                </div>
                <div class="mb-2 row">
                    <label for="image-text" class="col-sm-2 col-form-label">Alt Text</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="image-alt" name="image-alt" placeholder="The alt text for the image" value="">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Update Image</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
