@model LoginViewModel

@section title {
    <title>Log In</title>
}

@{ await Html.RenderPartialAsync("_BreadcrumbTrail", Model.BreadcrumbTrailData); }

<div class="row">
    <div class="col col-md-4">
        <h1>Log In</h1>
        <form asp-controller="Users" asp-action="Login" method="post">
            <div class="mb-2">
                <label asp-for="Email" class="form-label">Email Address</label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="mb-2">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" class="form-control" />
            </div>
            <input asp-for="ReturnUrl" type="hidden" />
            <div class="mt-4 mb-2">
                <button type="submit" class="@SaveButtonClasses"><i class="bi-box-arrow-in-right"></i> Log In</button>
            </div>
        </form>
    </div>
</div>
