.body-editor-buttons {
    padding: 10px 0;

    a {
        margin-right: 5px;
    }
}

#preview {
    padding-top: 20px;
}

.tab-content {
    min-height: 651px;
}

.dropzone {
    height: 100px;
    background-color: #999;
}