.input-validation-error {
    border-color: #cc0000;
}

.field-validation-error {
    color: #cc0000;
}

button [class^=bi-] {
    margin-right: 6px;
}

textarea[name=Body] {
    font-family: Courier New, Courier, monospace;
}

.navbar input[type=search] {
    width: 400px;
}
