$main-background-color: #f8f8f8;

body {
    background-color: $main-background-color;
    padding-bottom: 60px;
}

.breadcrumb {
    background-color: #dedede;
}

.nav-tabs .nav-link.active {
    background-color: $main-background-color;
}
