.tag-links {
    .badge {
        margin-right: 6px;
    }

    a:link, a:visited, a:hover, a:active {
        color: #ffffff;
        text-decoration: none;
    }

    a.bg-primary:hover {
        background-color: darken(#0d6efd, 20%) !important;
    }

    a.bg-secondary:hover {
        background-color: darken(#6c757d, 20%) !important;
    }
}

.tag-input.form-control:read-only {
    background-color: #fff;
}
