.tag-cloud {
    padding: 30px 0;
    text-align: center;
}

.badge-tag {
    margin: 3px 5px;

    .badge {
        margin-left: 10px;
    }
}

.badge-tag-xs {
    font-size: 0.9em;
}

.badge-tag-sm {
    font-size: 2em;
}

.badge-tag-md {
    font-size: 3em;
}

.badge-tag-lg {
    font-size: 4em;
}

.badge-tag-xl {
    font-size: 5em;
}

.tag-links .badge {
    margin-right: 6px;
}
