@model TagIndexViewModel

@section title {
    <title>All Tags</title>
}

@{ await Html.RenderPartialAsync("_BreadcrumbTrail", Model.BreadcrumbTrailData); }

<div class="row">
    <div class="col">
        <div class="tag-cloud">

            @foreach (var tag in Model.Tags)
            {
                <a asp-action="Index" asp-controller="Search" asp-route-query="@tag.Label" class="badge bg-primary" data-count="@tag.UseCount"><span>@tag.Label</span> <span class="badge bg-dark">@tag.UseCount</span></a>
            }

        </div>
    </div>
</div>