@model TagIndexViewModel

@section title {
    <title>All Tags</title>
}

@{
    await Html.RenderPartialAsync("_BreadcrumbTrail", Model.BreadcrumbTrailViewModel); 
}

<div class="row">
    <div class="col">
        <div class="tag-cloud">
            
            @foreach (var tag in Model.Tags)
            {
                <a asp-action="Index" asp-controller="Search" asp-route-query="[@tag.Label]" class="badge badge-info badge-tag @Model.GetClass(tag)">@tag.Label <span class="badge badge-light">@tag.UseCount</span></a>
            }

        </div>
    </div>
</div>
