@model SearchResultsViewModel

@{
    ViewBag.SearchQuery = Model.Query;
}

@section title {
    <title>Search Results</title>
}

@{ await Html.RenderPartialAsync("_BreadcrumbTrail", Model.BreadcrumbTrailData); }

<div class="row">
    <div class="col">
        <h1>Search results for '@Model.QueryHtmlForDisplay'</h1>

        <hr />

        @if (!Model.SearchResults.Any())
        {
            <p>Sorry, no matching results.</p>
        }
        else
        {
            foreach (var result in Model.SearchResults)
            {
                <h2><a href="@result.Location">@result.Title</a></h2>

                <tag-links tags="result.Tags" />

                <p>
                    @if (String.IsNullOrEmpty(result.Body))
                    {
                        <em>Page has no body text</em>
                    }
                    else
                    {
                        @(result.Body)
                    }
                </p>
            }
        }
    </div>
</div>
